n8n/workflow-import-ready.json
{
  "name": "WGS APS DSR Weekly Check-in",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger (testing)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Monday 8am ET",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        500
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "PASTE_YOUR_STAGING_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "SuMkC_Weekly"
        },
        "options": {}
      },
      "id": "read-sumkc",
      "name": "Read SuMkC_Weekly",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        280,
        180
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CONFIGURE_IN_N8N",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "PASTE_YOUR_STAGING_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Supplier_Weekly"
        },
        "options": {}
      },
      "id": "read-supplier",
      "name": "Read Supplier_Weekly",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        280,
        340
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CONFIGURE_IN_N8N",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "PASTE_YOUR_STAGING_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Watchlist_Weekly"
        },
        "options": {}
      },
      "id": "read-watchlist",
      "name": "Read Watchlist_Weekly",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        280,
        500
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CONFIGURE_IN_N8N",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 3
      },
      "id": "merge-tabs",
      "name": "Merge All Tabs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        520,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * AUTO-GENERATED from lib/weekly-report.mjs — run: node scripts/sync-n8n-from-lib.mjs\n */\n\n\nconst DSR_SUMKCS = [\n  'APS Decor - Home Accents',\n  'APS Decor - Wall Accents',\n  'APS Decor - Wall Art',\n  'APS Decor - Seasonal Decor',\n  'APS Decor - Outdoor Decor',\n  'APS Softhome - Bedding',\n  'APS Softhome - Window',\n  'APS Softhome - Bath',\n  'APS Rugs',\n];\n\nconst STO_BY_SUMKC = {\n  'APS Decor - Home Accents': 'Decor',\n  'APS Decor - Wall Accents': 'Decor',\n  'APS Decor - Wall Art': 'Decor',\n  'APS Decor - Seasonal Decor': 'Decor',\n  'APS Decor - Outdoor Decor': 'Decor',\n  'APS Softhome - Bedding': 'Softhome',\n  'APS Softhome - Window': 'Softhome',\n  'APS Softhome - Bath': 'Softhome',\n  'APS Rugs': 'Rugs',\n};\n\nconst PEN_TARGETS = { Decor: 0.345, Softhome: 0.245, Rugs: 0.093 };\n\nconst VERTICAL_BENCHMARK = {\n  'APS Decor - Home Accents': 'Home Accents',\n  'APS Decor - Wall Accents': 'Wall Accents',\n  'APS Decor - Wall Art': 'Wall Art',\n  'APS Decor - Seasonal Decor': 'Seasonal Decor',\n  'APS Decor - Outdoor Decor': 'Outdoor Decor',\n  'APS Softhome - Bedding': 'Bedding',\n  'APS Softhome - Window': 'Window',\n  'APS Softhome - Bath': 'Bath',\n  'APS Rugs': 'Rugs',\n};\n\nfunction num(v) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction fmtPct(n) {\n  if (n === null || n === undefined || Number.isNaN(n)) return '—';\n  const sign = n > 0 ? '+' : '';\n  return `${sign}${(n * 100).toFixed(1)}%`;\n}\n\nfunction fmtMoney(n) {\n  if (n === null || n === undefined || Number.isNaN(n)) return '—';\n  const v = Number(n);\n  if (!Number.isFinite(v)) return '—';\n  if (v >= 1_000_000) return `$${(v / 1_000_000).toFixed(2)}M`;\n  if (v >= 1_000) return `$${(v / 1_000).toFixed(1)}K`;\n  return `$${v.toFixed(0)}`;\n}\n\nfunction fmtPp(n) {\n  if (n === null || n === undefined || Number.isNaN(n)) return '—';\n  const sign = n > 0 ? '+' : '';\n  return `${sign}${(n * 100).toFixed(1)}pp`;\n}\n\nfunction fmtBps(n) {\n  if (n === null || n === undefined || Number.isNaN(n)) return '—';\n  const sign = n > 0 ? '+' : '';\n  return `${sign}${Math.round(n)} bps`;\n}\n\n/** Flag driver metrics that explain underperformance vs vertical / benchmark */\nfunction diagnoseDrivers(row, opts = {}) {\n  const drivers = [];\n  const brandedComp = num(row.branded_comp_bps);\n  const availability = num(row.availability_bps);\n  const promoDepth = num(row.promo_depth_bps);\n  const promoWsiGap = num(row.promo_wsi_gap_bps);\n  const adsPct = num(row.ads_pct_wsc);\n  const visitsYoy = num(row.visits_yoy_pct);\n  const cvrBps = num(row.cvr_yoy_bps);\n  const cgPen = num(row.cg_pen_pct);\n  const pbsiPct = num(row.pbsi_pct_grs);\n\n  if (brandedComp !== null && brandedComp < -50) {\n    drivers.push({\n      area: 'Pricing / competitiveness',\n      signal: fmtBps(brandedComp),\n      detail: 'Branded competitiveness below vertical benchmark — price index drag on conversion',\n      severity: brandedComp < -150 ? 'high' : 'medium',\n    });\n  }\n  if (availability !== null && availability < -80) {\n    drivers.push({\n      area: 'Availability',\n      signal: fmtBps(availability),\n      detail: 'Availability gap vs category — likely stock-out or lead-time pressure',\n      severity: availability < -150 ? 'high' : 'medium',\n    });\n  }\n  if ((promoDepth !== null && promoDepth < -80) || (promoWsiGap !== null && promoWsiGap < -100)) {\n    drivers.push({\n      area: 'Promotion depth',\n      signal: promoWsiGap !== null ? fmtBps(promoWsiGap) : fmtBps(promoDepth),\n      detail: 'Shallow promo / WSI gap vs target — less competitive offer depth',\n      severity: 'medium',\n    });\n  }\n  if (adsPct !== null && adsPct < (opts.ads_benchmark || 0.08)) {\n    drivers.push({\n      area: 'Ads investment',\n      signal: fmtPct(adsPct) + ' of WSC',\n      detail: 'Ads % WSC below portfolio norm — visibility may be limiting traffic',\n      severity: 'medium',\n    });\n  }\n  if (visitsYoy !== null && visitsYoy < 0 && (num(row.grs_yoy_pct) || 0) < (opts.vertical_yoy || 0)) {\n    drivers.push({\n      area: 'Traffic',\n      signal: fmtPct(visitsYoy) + ' visits YoY',\n      detail: 'Traffic decline vs vertical growth — assortment or discoverability issue',\n      severity: 'high',\n    });\n  }\n  if (cvrBps !== null && cvrBps < -20) {\n    drivers.push({\n      area: 'Conversion',\n      signal: fmtBps(cvrBps),\n      detail: 'CVR erosion YoY — check pricing, availability, and PDP competitiveness',\n      severity: cvrBps < -40 ? 'high' : 'medium',\n    });\n  }\n  if (pbsiPct !== null && pbsiPct > 0.15) {\n    drivers.push({\n      area: 'PBSI / policy',\n      signal: fmtPct(pbsiPct) + ' of GRS',\n      detail: 'Elevated PBSI exposure — policy violations may suppress distribution',\n      severity: 'high',\n    });\n  }\n  if (cgPen !== null && cgPen > 0.5 && cvrBps !== null && cvrBps < 0) {\n    drivers.push({\n      area: 'Penetration quality',\n      signal: fmtPct(cgPen) + ' CG pen',\n      detail: 'High CG penetration but falling CVR — growth may be promo-driven, not sustainable',\n      severity: 'medium',\n    });\n  }\n\n  return drivers.sort((a, b) => (a.severity === 'high' ? 0 : 1) - (b.severity === 'high' ? 0 : 1));\n}\n\n/** Narrative for WoW / YoY change */\nfunction explainChange(entity, label) {\n  const grsWow = num(entity.grs_wow_pct);\n  const grsYoy = num(entity.grs_yoy_pct);\n  const visits = num(entity.visits_yoy_pct);\n  const cvr = num(entity.cvr_yoy_bps);\n  const parts = [];\n\n  if (grsWow !== null) parts.push(`GRS WoW ${fmtPct(grsWow)}`);\n  if (grsYoy !== null) parts.push(`YoY ${fmtPct(grsYoy)}`);\n\n  const drivers = diagnoseDrivers(entity);\n  if (drivers.length > 0) {\n    const top = drivers.slice(0, 2).map((d) => d.area.toLowerCase()).join(', ');\n    parts.push(`likely drivers: ${top}`);\n  } else if (visits !== null && visits > 0.1) {\n    parts.push(`traffic-led (+${fmtPct(visits)} visits YoY)`);\n  } else if (cvr !== null && cvr > 10) {\n    parts.push(`conversion-led (${fmtBps(cvr)} CVR YoY)`);\n  }\n\n  return `${label}: ${parts.join(' · ')}`;\n}\n\nfunction weightedAvg(subset, key, weightKey = 'wgs_grs_week') {\n  let wSum = 0;\n  let vSum = 0;\n  for (const c of subset) {\n    const w = num(c[weightKey]) || num(c.grs_week) || 0;\n    const v = c[key];\n    if (v !== null && v !== undefined && w > 0) {\n      vSum += v * w;\n      wSum += w;\n    }\n  }\n  return wSum > 0 ? vSum / wSum : null;\n}\n\nfunction buildSumkcComparisons(sumkcRows) {\n  const wgsRows = sumkcRows.filter(\n    (r) => r.channel === 'WGS_APS' && DSR_SUMKCS.includes(r.entity_name)\n  );\n  const verticalRows = sumkcRows.filter((r) => r.channel === 'VERTICAL_STO');\n\n  if (wgsRows.length < DSR_SUMKCS.length) {\n    throw new Error(\n      `Incomplete WGS weekly data: expected ${DSR_SUMKCS.length} SuMkCs, got ${wgsRows.length}.`\n    );\n  }\n\n  const comparisons = [];\n\n  for (const sumkc of DSR_SUMKCS) {\n    const wgs = wgsRows.find((r) => r.entity_name === sumkc);\n    const verticalName = VERTICAL_BENCHMARK[sumkc];\n    const vertical = verticalRows.find(\n      (r) =>\n        r.entity_name === verticalName ||\n        r.entity_name === sumkc.replace(/^APS (Decor|Softhome) - /, '').replace(/^APS /, '')\n    );\n\n    const sto = STO_BY_SUMKC[sumkc];\n    const wgsYoy = num(wgs && wgs.grs_yoy_pct);\n    const wgsWow = num(wgs && wgs.grs_wow_pct);\n    const vertYoy = num(vertical && vertical.grs_yoy_pct);\n    const vertWow = num(vertical && vertical.grs_wow_pct);\n    const yoyGap = wgsYoy !== null && vertYoy !== null ? wgsYoy - vertYoy : null;\n    const wowGap = wgsWow !== null && vertWow !== null ? wgsWow - vertWow : null;\n\n    const wgsPen = num(wgs && wgs.wgs_pen_pct);\n    const penYoyBps = num(wgs && wgs.wgs_pen_yoy_bps);\n    const penTarget = PEN_TARGETS[sto];\n    const penGap = wgsPen !== null ? wgsPen - penTarget : null;\n\n    const driverRow = Object.assign({}, wgs, {\n      grs_yoy_pct: wgsYoy,\n      vertical_yoy: vertYoy,\n    });\n    const drivers = diagnoseDrivers(driverRow, { vertical_yoy: vertYoy });\n\n    const isTopPerformer = yoyGap !== null && yoyGap > 0.05;\n    const isOffender =\n      (yoyGap !== null && yoyGap < -0.05) ||\n      (wgsYoy !== null && wgsYoy < 0) ||\n      drivers.some((d) => d.severity === 'high');\n\n    comparisons.push({\n      sumkc,\n      sto,\n      vertical_benchmark: verticalName,\n      wgs_grs_week: wgs && wgs.grs_week,\n      wgs_grs_wow_pct: wgsWow,\n      wgs_grs_yoy_pct: wgsYoy,\n      wgs_wsc_week: wgs && wgs.wsc_week,\n      wgs_wsc_wow_pct: num(wgs && wgs.wsc_wow_pct),\n      wgs_wsc_yoy_pct: num(wgs && wgs.wsc_yoy_pct),\n      vertical_grs_wow_pct: vertWow,\n      vertical_grs_yoy_pct: vertYoy,\n      wow_gap_vs_vertical: wowGap,\n      yoy_gap_vs_vertical: yoyGap,\n      wgs_pen_pct: wgsPen,\n      wgs_pen_yoy_bps: penYoyBps,\n      pen_target: penTarget,\n      pen_gap_vs_target: penGap,\n      visits_yoy_pct: num(wgs && wgs.visits_yoy_pct),\n      visits_wow_pct: num(wgs && wgs.visits_wow_pct),\n      cvr_yoy_bps: num(wgs && wgs.cvr_yoy_bps),\n      availability_bps: num(wgs && wgs.availability_bps),\n      branded_comp_bps: num(wgs && wgs.branded_comp_bps),\n      promo_depth_bps: num(wgs && wgs.promo_depth_bps),\n      ads_pct_wsc: num(wgs && wgs.ads_pct_wsc),\n      cg_pen_pct: num(wgs && wgs.cg_pen_pct),\n      drivers,\n      driver_summary: drivers.map((d) => d.area).join('; ') || '—',\n      is_top_performer: isTopPerformer,\n      is_offender: isOffender,\n      change_narrative: explainChange(wgs || {}, sumkc),\n    });\n  }\n\n  return comparisons;\n}\n\nfunction buildStoRollups(comparisons) {\n  return ['Decor', 'Softhome', 'Rugs'].map((stoName) => {\n    const subset = comparisons.filter((c) => c.sto === stoName);\n    const totalGrs = subset.reduce((s, c) => s + (num(c.wgs_grs_week) || 0), 0);\n\n    return {\n      sto: stoName,\n      wgs_grs_week_total: totalGrs,\n      wgs_grs_wow_pct: weightedAvg(subset, 'wgs_grs_wow_pct'),\n      wgs_grs_yoy_pct: weightedAvg(subset, 'wgs_grs_yoy_pct'),\n      vertical_grs_wow_pct: weightedAvg(subset, 'vertical_grs_wow_pct'),\n      vertical_grs_yoy_pct: weightedAvg(subset, 'vertical_grs_yoy_pct'),\n      wow_gap_vs_vertical: weightedAvg(subset, 'wow_gap_vs_vertical'),\n      yoy_gap_vs_vertical: weightedAvg(subset, 'yoy_gap_vs_vertical'),\n      wgs_pen_pct: weightedAvg(subset, 'wgs_pen_pct'),\n      wgs_pen_yoy_bps: weightedAvg(subset, 'wgs_pen_yoy_bps'),\n      pen_target: PEN_TARGETS[stoName],\n      pen_gap_vs_target:\n        weightedAvg(subset, 'wgs_pen_pct') !== null\n          ? weightedAvg(subset, 'wgs_pen_pct') - PEN_TARGETS[stoName]\n          : null,\n      is_pen_below_target:\n        weightedAvg(subset, 'wgs_pen_pct') !== null &&\n        weightedAvg(subset, 'wgs_pen_pct') - PEN_TARGETS[stoName] < -0.02,\n      top_performers: subset.filter((c) => c.is_top_performer).map((c) => c.sumkc),\n      offenders: subset.filter((c) => c.is_offender).map((c) => c.sumkc),\n    };\n  });\n}\n\nfunction buildSupplierAnalysis(supplierRows) {\n  const suppliers = supplierRows\n    .filter((r) => r.segment_type === 'supplier' && r.channel === 'WGS_APS')\n    .map((r) => {\n      const grsYoy = num(r.grs_yoy_pct);\n      const grsWow = num(r.grs_wow_pct);\n      const vertYoy = num(r.vertical_grs_yoy_pct);\n      const yoyGap = grsYoy !== null && vertYoy !== null ? grsYoy - vertYoy : null;\n      const drivers = diagnoseDrivers(r, { vertical_yoy: vertYoy });\n\n      return {\n        name: r.entity_name,\n        sto: r.sto,\n        tier: r.tier,\n        srm: r.srm,\n        supplier_id: r.supplier_id,\n        grs_week: r.grs_week,\n        grs_wow_pct: grsWow,\n        grs_yoy_pct: grsYoy,\n        wsc_week: r.wsc_week,\n        wsc_wow_pct: num(r.wsc_wow_pct),\n        wsc_yoy_pct: num(r.wsc_yoy_pct),\n        vertical_grs_yoy_pct: vertYoy,\n        yoy_gap_vs_vertical: yoyGap,\n        visits_yoy_pct: num(r.visits_yoy_pct),\n        cvr_yoy_bps: num(r.cvr_yoy_bps),\n        cg_pen_pct: num(r.cg_pen_pct),\n        availability_bps: num(r.availability_bps),\n        branded_comp_bps: num(r.branded_comp_bps),\n        promo_depth_bps: num(r.promo_depth_bps),\n        ads_pct_wsc: num(r.ads_pct_wsc),\n        pbsi_pct_grs: num(r.pbsi_pct_grs),\n        drivers,\n        change_narrative: explainChange(r, r.entity_name),\n        is_top: yoyGap !== null && yoyGap > 0.1,\n        is_offender: (yoyGap !== null && yoyGap < -0.05) || (grsYoy !== null && grsYoy < 0),\n      };\n    });\n\n  const topSuppliers = suppliers\n    .filter((s) => s.is_top)\n    .sort((a, b) => (b.yoy_gap_vs_vertical || 0) - (a.yoy_gap_vs_vertical || 0))\n    .slice(0, 5);\n\n  const offenderSuppliers = suppliers\n    .filter((s) => s.is_offender)\n    .sort((a, b) => (a.yoy_gap_vs_vertical || 0) - (b.yoy_gap_vs_vertical || 0))\n    .slice(0, 5);\n\n  return { suppliers, top_suppliers: topSuppliers, offender_suppliers: offenderSuppliers };\n}\n\nfunction buildWatchlist(watchlistRows) {\n  return watchlistRows.map((r) => ({\n    sto: r.sto,\n    watch_type: r.watch_type,\n    entity_name: r.entity_name,\n    supplier_id: r.supplier_id,\n    srm: r.srm,\n    detail: r.detail,\n    l30d_grs_at_risk: num(r.l30d_grs_at_risk),\n    category:\n      r.watch_type === 'pbsi_violation'\n        ? 'PBSI / policy'\n        : r.watch_type === 'promo_wsi_gap'\n          ? 'Promotion depth'\n          : r.watch_type === 'pen_below_target'\n            ? 'Penetration'\n            : 'Other',\n  }));\n}\n\nfunction analyzeWeeklyRows(rows) {\n  const sumkcRows = rows.filter((r) => r.segment_type === 'sumkc');\n  const supplierRows = rows.filter((r) => r.segment_type === 'supplier');\n  const watchlistRows = rows.filter((r) => r.watch_type || r.segment_type === 'watchlist');\n\n  const comparisons = buildSumkcComparisons(sumkcRows);\n  const sto_rollups = buildStoRollups(comparisons);\n  const supplier_analysis = buildSupplierAnalysis(supplierRows);\n  const watchlist = buildWatchlist(watchlistRows);\n\n  const portfolio = {\n    reporting_week: rows[0] && rows[0].reporting_week,\n    wgs_grs_week_total: sto_rollups.reduce((s, r) => s + (r.wgs_grs_week_total || 0), 0),\n    wgs_grs_wow_pct: weightedAvg(\n      comparisons.map((c) => Object.assign({}, c, { grs_week: c.wgs_grs_week })),\n      'wgs_grs_wow_pct'\n    ),\n    wgs_grs_yoy_pct: weightedAvg(\n      comparisons.map((c) => Object.assign({}, c, { grs_week: c.wgs_grs_week })),\n      'wgs_grs_yoy_pct'\n    ),\n    yoy_gap_vs_vertical: weightedAvg(comparisons, 'yoy_gap_vs_vertical'),\n    top_performers: comparisons.filter((c) => c.is_top_performer).slice(0, 5),\n    offenders: comparisons.filter((c) => c.is_offender).slice(0, 5),\n    sto_rollups,\n  };\n\n  return {\n    portfolio,\n    comparisons,\n    sto_rollups,\n    supplier_analysis,\n    watchlist,\n    meta: { validated_sumkc_count: comparisons.length },\n  };\n}\n\nfunction gapColor(n) {\n  return (n || 0) >= 0 ? '#0a7' : '#c33';\n}\n\nfunction sectionTitle(text) {\n  return `<h3 style=\"margin-top:28px;border-bottom:1px solid #ddd;padding-bottom:6px;color:#7B2D8E;\">${text}</h3>`;\n}\n\nfunction tableStart(headers) {\n  let h = `<table border=\"1\" cellpadding=\"6\" cellspacing=\"0\" style=\"border-collapse:collapse;width:100%;font-size:12px;margin-bottom:12px;\">`;\n  h += `<tr style=\"background:#f3f3f3;\">${headers.map((x) => `<th>${x}</th>`).join('')}</tr>`;\n  return h;\n}\n\nfunction buildHtmlEmail(data) {\n  const { portfolio, comparisons, sto_rollups: stoRollups, supplier_analysis, watchlist } = data;\n  const week = (portfolio && portfolio.reporting_week) || 'Latest week';\n\n  let html = `<!DOCTYPE html><html><head><meta charset=\"utf-8\"><title>WGS APS DSR Weekly</title></head><body>`;\n  html += `<div style=\"font-family:Arial,sans-serif;max-width:900px;margin:24px auto;color:#222;line-height:1.45;\">`;\n  html += `<h2 style=\"border-bottom:3px solid #7B2D8E;padding-bottom:8px;\">WGS APS DSR Weekly Performance</h2>`;\n  html += `<p style=\"color:#555;\">Week starting <strong>${week}</strong> (wo) · Lens: <strong>WGS/APS vs Vertical STO (F&amp;D)</strong></p>`;\n\n  // Executive summary\n  html += sectionTitle('1. Executive summary — Portfolio');\n  html += `<p>Portfolio GRS <strong>${fmtMoney(portfolio.wgs_grs_week_total)}</strong> · `;\n  html += `WGS WoW <strong>${fmtPct(portfolio.wgs_grs_wow_pct)}</strong> · `;\n  html += `WGS YoY <strong>${fmtPct(portfolio.wgs_grs_yoy_pct)}</strong> · `;\n  html += `Avg gap vs vertical <strong style=\"color:${gapColor(portfolio.yoy_gap_vs_vertical)}\">${fmtPp(portfolio.yoy_gap_vs_vertical)}</strong></p>`;\n\n  // STO growth + penetration\n  html += sectionTitle('2. STO rollup — WGS vs Vertical growth &amp; penetration');\n  html += tableStart([\n    'STO',\n    'WGS GRS',\n    'WGS WoW',\n    'WGS YoY',\n    'Vert WoW',\n    'Vert YoY',\n    'YoY gap',\n    'WGS Pen',\n    'Pen YoY',\n    'Pen target',\n    'Pen gap',\n  ]);\n  for (const s of stoRollups) {\n    html += `<tr>\n      <td><strong>${s.sto}</strong></td>\n      <td>${fmtMoney(s.wgs_grs_week_total)}</td>\n      <td>${fmtPct(s.wgs_grs_wow_pct)}</td>\n      <td>${fmtPct(s.wgs_grs_yoy_pct)}</td>\n      <td>${fmtPct(s.vertical_grs_wow_pct)}</td>\n      <td>${fmtPct(s.vertical_grs_yoy_pct)}</td>\n      <td style=\"color:${gapColor(s.yoy_gap_vs_vertical)}\"><strong>${fmtPp(s.yoy_gap_vs_vertical)}</strong></td>\n      <td>${fmtPct(s.wgs_pen_pct)}</td>\n      <td>${fmtBps(s.wgs_pen_yoy_bps)}</td>\n      <td>${fmtPct(s.pen_target)}</td>\n      <td style=\"color:${gapColor(s.pen_gap_vs_target)}\">${fmtPp(s.pen_gap_vs_target)}</td>\n    </tr>`;\n  }\n  html += `</table>`;\n\n  // SuMkC comprehensive\n  html += sectionTitle('3. SuMkC — growth, penetration &amp; key metrics');\n  html += tableStart([\n    'STO',\n    'SuMkC',\n    'GRS WoW',\n    'GRS YoY',\n    'Vert YoY',\n    'Gap',\n    'Visits YoY',\n    'CVR bps',\n    'Pen %',\n    'Pen Δ bps',\n    'Pricing',\n    'Avail',\n    'Promo',\n    'Ads',\n  ]);\n  for (const c of comparisons) {\n    const flag = c.is_top_performer ? ' ★' : c.is_offender ? ' ⚠' : '';\n    html += `<tr>\n      <td>${c.sto}</td>\n      <td>${c.sumkc}${flag}</td>\n      <td>${fmtPct(c.wgs_grs_wow_pct)}</td>\n      <td>${fmtPct(c.wgs_grs_yoy_pct)}</td>\n      <td>${fmtPct(c.vertical_grs_yoy_pct)}</td>\n      <td style=\"color:${gapColor(c.yoy_gap_vs_vertical)}\">${fmtPp(c.yoy_gap_vs_vertical)}</td>\n      <td>${fmtPct(c.visits_yoy_pct)}</td>\n      <td>${fmtBps(c.cvr_yoy_bps)}</td>\n      <td>${fmtPct(c.wgs_pen_pct)}</td>\n      <td>${fmtBps(c.wgs_pen_yoy_bps)}</td>\n      <td>${fmtBps(c.branded_comp_bps)}</td>\n      <td>${fmtBps(c.availability_bps)}</td>\n      <td>${fmtBps(c.promo_depth_bps)}</td>\n      <td>${c.ads_pct_wsc != null ? fmtPct(c.ads_pct_wsc) : '—'}</td>\n    </tr>`;\n  }\n  html += `</table>`;\n\n  // Top performers with drivers\n  html += sectionTitle('4. Top performers — vs vertical &amp; drivers');\n  if (portfolio.top_performers.length === 0) {\n    html += `<p><em>None flagged this week.</em></p>`;\n  } else {\n    html += `<ul>`;\n    for (const c of portfolio.top_performers) {\n      html += `<li><strong>${c.sumkc}</strong> — GRS YoY ${fmtPct(c.wgs_grs_yoy_pct)} vs vertical ${fmtPct(c.vertical_grs_yoy_pct)} (${fmtPp(c.yoy_gap_vs_vertical)}); `;\n      html += `WoW ${fmtPct(c.wgs_grs_wow_pct)}; pen ${fmtPct(c.wgs_pen_pct)} (${fmtBps(c.wgs_pen_yoy_bps)} YoY). `;\n      html += c.drivers.length\n        ? `Drivers: ${c.drivers.map((d) => `${d.area} (${d.signal})`).join('; ')}.`\n        : `Traffic ${fmtPct(c.visits_yoy_pct)}, CVR ${fmtBps(c.cvr_yoy_bps)}.`;\n      html += `</li>`;\n    }\n    html += `</ul>`;\n  }\n\n  // Offenders with diagnosis\n  html += sectionTitle('5. Top offenders — underperformance &amp; root-cause metrics');\n  if (portfolio.offenders.length === 0) {\n    html += `<p><em>None flagged this week.</em></p>`;\n  } else {\n    html += `<ul>`;\n    for (const c of portfolio.offenders) {\n      html += `<li><strong>${c.sumkc}</strong> — gap ${fmtPp(c.yoy_gap_vs_vertical)} vs vertical; GRS YoY ${fmtPct(c.wgs_grs_yoy_pct)}, WoW ${fmtPct(c.wgs_grs_wow_pct)}.`;\n      if (c.drivers.length) {\n        html += `<ul>`;\n        for (const d of c.drivers) {\n          html += `<li><strong>${d.area}</strong> [${d.severity}]: ${d.detail} (${d.signal})</li>`;\n        }\n        html += `</ul>`;\n      } else {\n        html += ` No single driver flagged — review traffic ${fmtPct(c.visits_yoy_pct)} and CVR ${fmtBps(c.cvr_yoy_bps)}.`;\n      }\n      html += `</li>`;\n    }\n    html += `</ul>`;\n  }\n\n  // Suppliers\n  html += sectionTitle('6. Key suppliers — WoW / YoY &amp; change drivers');\n  const { top_suppliers, offender_suppliers } = supplier_analysis;\n  if (!supplier_analysis.suppliers.length) {\n    html += `<p><em>No supplier data in staging sheet (add Supplier_Weekly tab).</em></p>`;\n  } else {\n    html += `<p><strong>Top contributors</strong></p>`;\n    html += tableStart(['Supplier', 'STO', 'Tier', 'SRM', 'GRS WoW', 'GRS YoY', 'vs Vert', 'Change narrative']);\n    for (const s of top_suppliers) {\n      html += `<tr>\n        <td>${s.name}</td><td>${s.sto}</td><td>${s.tier || '—'}</td><td>${s.srm || '—'}</td>\n        <td>${fmtPct(s.grs_wow_pct)}</td><td>${fmtPct(s.grs_yoy_pct)}</td>\n        <td style=\"color:${gapColor(s.yoy_gap_vs_vertical)}\">${fmtPp(s.yoy_gap_vs_vertical)}</td>\n        <td style=\"font-size:11px;\">${s.change_narrative}</td>\n      </tr>`;\n    }\n    html += `</table>`;\n\n    html += `<p><strong>Supplier offenders</strong></p>`;\n    html += tableStart([\n      'Supplier',\n      'STO',\n      'GRS YoY',\n      'WoW',\n      'Pricing',\n      'Avail',\n      'Promo',\n      'Ads',\n      'PBSI',\n      'Diagnosis',\n    ]);\n    for (const s of offender_suppliers) {\n      html += `<tr>\n        <td>${s.name}</td><td>${s.sto}</td>\n        <td>${fmtPct(s.grs_yoy_pct)}</td><td>${fmtPct(s.grs_wow_pct)}</td>\n        <td>${fmtBps(s.branded_comp_bps)}</td><td>${fmtBps(s.availability_bps)}</td>\n        <td>${fmtBps(s.promo_depth_bps)}</td><td>${s.ads_pct_wsc != null ? fmtPct(s.ads_pct_wsc) : '—'}</td>\n        <td>${s.pbsi_pct_grs != null ? fmtPct(s.pbsi_pct_grs) : '—'}</td>\n        <td style=\"font-size:11px;\">${s.drivers.map((d) => d.area).join(', ') || '—'}</td>\n      </tr>`;\n    }\n    html += `</table>`;\n  }\n\n  // Watchlist\n  html += sectionTitle('7. Watchlist — policy, promo &amp; pen gaps');\n  if (!watchlist.length) {\n    html += `<p><em>No watchlist items (add Watchlist_Weekly tab).</em></p>`;\n  } else {\n    html += tableStart(['STO', 'Category', 'Entity', 'SRM', 'Detail', 'GRS at risk']);\n    for (const w of watchlist) {\n      html += `<tr>\n        <td>${w.sto}</td><td>${w.category}</td><td>${w.entity_name}</td>\n        <td>${w.srm || '—'}</td><td>${w.detail}</td>\n        <td>${w.l30d_grs_at_risk ? fmtMoney(w.l30d_grs_at_risk) : '—'}</td>\n      </tr>`;\n    }\n    html += `</table>`;\n  }\n\n  html += `<p style=\"font-size:11px;color:#888;margin-top:32px;border-top:1px solid #eee;padding-top:12px;\">\n    Sent via n8n · WGS APS Decor · Softhome · Rugs · Weekly staging sheet (not monthly GRS tracker)<br>\n    Driver thresholds: pricing &lt;−50 bps · availability &lt;−80 bps · promo/WSI gap · ads &lt;8% WSC · PBSI &gt;15% GRS\n  </p></div></body></html>`;\n\n  const subject = `WGS APS DSR Weekly | ${week} | WGS YoY ${fmtPct(portfolio.wgs_grs_yoy_pct)} vs vertical ${fmtPp(portfolio.yoy_gap_vs_vertical)}`;\n\n  return { subject, html };\n}\n\n\n// --- n8n entry: Analyze Weekly ---\nconst rows = $input.all().map((item) => item.json);\nconst result = analyzeWeeklyRows(rows);\nreturn [{ json: result }];\n"
      },
      "id": "analyze-weekly",
      "name": "Analyze Weekly",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * AUTO-GENERATED from lib/weekly-report.mjs — run: node scripts/sync-n8n-from-lib.mjs\n */\n\n\nconst DSR_SUMKCS = [\n  'APS Decor - Home Accents',\n  'APS Decor - Wall Accents',\n  'APS Decor - Wall Art',\n  'APS Decor - Seasonal Decor',\n  'APS Decor - Outdoor Decor',\n  'APS Softhome - Bedding',\n  'APS Softhome - Window',\n  'APS Softhome - Bath',\n  'APS Rugs',\n];\n\nconst STO_BY_SUMKC = {\n  'APS Decor - Home Accents': 'Decor',\n  'APS Decor - Wall Accents': 'Decor',\n  'APS Decor - Wall Art': 'Decor',\n  'APS Decor - Seasonal Decor': 'Decor',\n  'APS Decor - Outdoor Decor': 'Decor',\n  'APS Softhome - Bedding': 'Softhome',\n  'APS Softhome - Window': 'Softhome',\n  'APS Softhome - Bath': 'Softhome',\n  'APS Rugs': 'Rugs',\n};\n\nconst PEN_TARGETS = { Decor: 0.345, Softhome: 0.245, Rugs: 0.093 };\n\nconst VERTICAL_BENCHMARK = {\n  'APS Decor - Home Accents': 'Home Accents',\n  'APS Decor - Wall Accents': 'Wall Accents',\n  'APS Decor - Wall Art': 'Wall Art',\n  'APS Decor - Seasonal Decor': 'Seasonal Decor',\n  'APS Decor - Outdoor Decor': 'Outdoor Decor',\n  'APS Softhome - Bedding': 'Bedding',\n  'APS Softhome - Window': 'Window',\n  'APS Softhome - Bath': 'Bath',\n  'APS Rugs': 'Rugs',\n};\n\nfunction num(v) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction fmtPct(n) {\n  if (n === null || n === undefined || Number.isNaN(n)) return '—';\n  const sign = n > 0 ? '+' : '';\n  return `${sign}${(n * 100).toFixed(1)}%`;\n}\n\nfunction fmtMoney(n) {\n  if (n === null || n === undefined || Number.isNaN(n)) return '—';\n  const v = Number(n);\n  if (!Number.isFinite(v)) return '—';\n  if (v >= 1_000_000) return `$${(v / 1_000_000).toFixed(2)}M`;\n  if (v >= 1_000) return `$${(v / 1_000).toFixed(1)}K`;\n  return `$${v.toFixed(0)}`;\n}\n\nfunction fmtPp(n) {\n  if (n === null || n === undefined || Number.isNaN(n)) return '—';\n  const sign = n > 0 ? '+' : '';\n  return `${sign}${(n * 100).toFixed(1)}pp`;\n}\n\nfunction fmtBps(n) {\n  if (n === null || n === undefined || Number.isNaN(n)) return '—';\n  const sign = n > 0 ? '+' : '';\n  return `${sign}${Math.round(n)} bps`;\n}\n\n/** Flag driver metrics that explain underperformance vs vertical / benchmark */\nfunction diagnoseDrivers(row, opts = {}) {\n  const drivers = [];\n  const brandedComp = num(row.branded_comp_bps);\n  const availability = num(row.availability_bps);\n  const promoDepth = num(row.promo_depth_bps);\n  const promoWsiGap = num(row.promo_wsi_gap_bps);\n  const adsPct = num(row.ads_pct_wsc);\n  const visitsYoy = num(row.visits_yoy_pct);\n  const cvrBps = num(row.cvr_yoy_bps);\n  const cgPen = num(row.cg_pen_pct);\n  const pbsiPct = num(row.pbsi_pct_grs);\n\n  if (brandedComp !== null && brandedComp < -50) {\n    drivers.push({\n      area: 'Pricing / competitiveness',\n      signal: fmtBps(brandedComp),\n      detail: 'Branded competitiveness below vertical benchmark — price index drag on conversion',\n      severity: brandedComp < -150 ? 'high' : 'medium',\n    });\n  }\n  if (availability !== null && availability < -80) {\n    drivers.push({\n      area: 'Availability',\n      signal: fmtBps(availability),\n      detail: 'Availability gap vs category — likely stock-out or lead-time pressure',\n      severity: availability < -150 ? 'high' : 'medium',\n    });\n  }\n  if ((promoDepth !== null && promoDepth < -80) || (promoWsiGap !== null && promoWsiGap < -100)) {\n    drivers.push({\n      area: 'Promotion depth',\n      signal: promoWsiGap !== null ? fmtBps(promoWsiGap) : fmtBps(promoDepth),\n      detail: 'Shallow promo / WSI gap vs target — less competitive offer depth',\n      severity: 'medium',\n    });\n  }\n  if (adsPct !== null && adsPct < (opts.ads_benchmark || 0.08)) {\n    drivers.push({\n      area: 'Ads investment',\n      signal: fmtPct(adsPct) + ' of WSC',\n      detail: 'Ads % WSC below portfolio norm — visibility may be limiting traffic',\n      severity: 'medium',\n    });\n  }\n  if (visitsYoy !== null && visitsYoy < 0 && (num(row.grs_yoy_pct) || 0) < (opts.vertical_yoy || 0)) {\n    drivers.push({\n      area: 'Traffic',\n      signal: fmtPct(visitsYoy) + ' visits YoY',\n      detail: 'Traffic decline vs vertical growth — assortment or discoverability issue',\n      severity: 'high',\n    });\n  }\n  if (cvrBps !== null && cvrBps < -20) {\n    drivers.push({\n      area: 'Conversion',\n      signal: fmtBps(cvrBps),\n      detail: 'CVR erosion YoY — check pricing, availability, and PDP competitiveness',\n      severity: cvrBps < -40 ? 'high' : 'medium',\n    });\n  }\n  if (pbsiPct !== null && pbsiPct > 0.15) {\n    drivers.push({\n      area: 'PBSI / policy',\n      signal: fmtPct(pbsiPct) + ' of GRS',\n      detail: 'Elevated PBSI exposure — policy violations may suppress distribution',\n      severity: 'high',\n    });\n  }\n  if (cgPen !== null && cgPen > 0.5 && cvrBps !== null && cvrBps < 0) {\n    drivers.push({\n      area: 'Penetration quality',\n      signal: fmtPct(cgPen) + ' CG pen',\n      detail: 'High CG penetration but falling CVR — growth may be promo-driven, not sustainable',\n      severity: 'medium',\n    });\n  }\n\n  return drivers.sort((a, b) => (a.severity === 'high' ? 0 : 1) - (b.severity === 'high' ? 0 : 1));\n}\n\n/** Narrative for WoW / YoY change */\nfunction explainChange(entity, label) {\n  const grsWow = num(entity.grs_wow_pct);\n  const grsYoy = num(entity.grs_yoy_pct);\n  const visits = num(entity.visits_yoy_pct);\n  const cvr = num(entity.cvr_yoy_bps);\n  const parts = [];\n\n  if (grsWow !== null) parts.push(`GRS WoW ${fmtPct(grsWow)}`);\n  if (grsYoy !== null) parts.push(`YoY ${fmtPct(grsYoy)}`);\n\n  const drivers = diagnoseDrivers(entity);\n  if (drivers.length > 0) {\n    const top = drivers.slice(0, 2).map((d) => d.area.toLowerCase()).join(', ');\n    parts.push(`likely drivers: ${top}`);\n  } else if (visits !== null && visits > 0.1) {\n    parts.push(`traffic-led (+${fmtPct(visits)} visits YoY)`);\n  } else if (cvr !== null && cvr > 10) {\n    parts.push(`conversion-led (${fmtBps(cvr)} CVR YoY)`);\n  }\n\n  return `${label}: ${parts.join(' · ')}`;\n}\n\nfunction weightedAvg(subset, key, weightKey = 'wgs_grs_week') {\n  let wSum = 0;\n  let vSum = 0;\n  for (const c of subset) {\n    const w = num(c[weightKey]) || num(c.grs_week) || 0;\n    const v = c[key];\n    if (v !== null && v !== undefined && w > 0) {\n      vSum += v * w;\n      wSum += w;\n    }\n  }\n  return wSum > 0 ? vSum / wSum : null;\n}\n\nfunction buildSumkcComparisons(sumkcRows) {\n  const wgsRows = sumkcRows.filter(\n    (r) => r.channel === 'WGS_APS' && DSR_SUMKCS.includes(r.entity_name)\n  );\n  const verticalRows = sumkcRows.filter((r) => r.channel === 'VERTICAL_STO');\n\n  if (wgsRows.length < DSR_SUMKCS.length) {\n    throw new Error(\n      `Incomplete WGS weekly data: expected ${DSR_SUMKCS.length} SuMkCs, got ${wgsRows.length}.`\n    );\n  }\n\n  const comparisons = [];\n\n  for (const sumkc of DSR_SUMKCS) {\n    const wgs = wgsRows.find((r) => r.entity_name === sumkc);\n    const verticalName = VERTICAL_BENCHMARK[sumkc];\n    const vertical = verticalRows.find(\n      (r) =>\n        r.entity_name === verticalName ||\n        r.entity_name === sumkc.replace(/^APS (Decor|Softhome) - /, '').replace(/^APS /, '')\n    );\n\n    const sto = STO_BY_SUMKC[sumkc];\n    const wgsYoy = num(wgs && wgs.grs_yoy_pct);\n    const wgsWow = num(wgs && wgs.grs_wow_pct);\n    const vertYoy = num(vertical && vertical.grs_yoy_pct);\n    const vertWow = num(vertical && vertical.grs_wow_pct);\n    const yoyGap = wgsYoy !== null && vertYoy !== null ? wgsYoy - vertYoy : null;\n    const wowGap = wgsWow !== null && vertWow !== null ? wgsWow - vertWow : null;\n\n    const wgsPen = num(wgs && wgs.wgs_pen_pct);\n    const penYoyBps = num(wgs && wgs.wgs_pen_yoy_bps);\n    const penTarget = PEN_TARGETS[sto];\n    const penGap = wgsPen !== null ? wgsPen - penTarget : null;\n\n    const driverRow = Object.assign({}, wgs, {\n      grs_yoy_pct: wgsYoy,\n      vertical_yoy: vertYoy,\n    });\n    const drivers = diagnoseDrivers(driverRow, { vertical_yoy: vertYoy });\n\n    const isTopPerformer = yoyGap !== null && yoyGap > 0.05;\n    const isOffender =\n      (yoyGap !== null && yoyGap < -0.05) ||\n      (wgsYoy !== null && wgsYoy < 0) ||\n      drivers.some((d) => d.severity === 'high');\n\n    comparisons.push({\n      sumkc,\n      sto,\n      vertical_benchmark: verticalName,\n      wgs_grs_week: wgs && wgs.grs_week,\n      wgs_grs_wow_pct: wgsWow,\n      wgs_grs_yoy_pct: wgsYoy,\n      wgs_wsc_week: wgs && wgs.wsc_week,\n      wgs_wsc_wow_pct: num(wgs && wgs.wsc_wow_pct),\n      wgs_wsc_yoy_pct: num(wgs && wgs.wsc_yoy_pct),\n      vertical_grs_wow_pct: vertWow,\n      vertical_grs_yoy_pct: vertYoy,\n      wow_gap_vs_vertical: wowGap,\n      yoy_gap_vs_vertical: yoyGap,\n      wgs_pen_pct: wgsPen,\n      wgs_pen_yoy_bps: penYoyBps,\n      pen_target: penTarget,\n      pen_gap_vs_target: penGap,\n      visits_yoy_pct: num(wgs && wgs.visits_yoy_pct),\n      visits_wow_pct: num(wgs && wgs.visits_wow_pct),\n      cvr_yoy_bps: num(wgs && wgs.cvr_yoy_bps),\n      availability_bps: num(wgs && wgs.availability_bps),\n      branded_comp_bps: num(wgs && wgs.branded_comp_bps),\n      promo_depth_bps: num(wgs && wgs.promo_depth_bps),\n      ads_pct_wsc: num(wgs && wgs.ads_pct_wsc),\n      cg_pen_pct: num(wgs && wgs.cg_pen_pct),\n      drivers,\n      driver_summary: drivers.map((d) => d.area).join('; ') || '—',\n      is_top_performer: isTopPerformer,\n      is_offender: isOffender,\n      change_narrative: explainChange(wgs || {}, sumkc),\n    });\n  }\n\n  return comparisons;\n}\n\nfunction buildStoRollups(comparisons) {\n  return ['Decor', 'Softhome', 'Rugs'].map((stoName) => {\n    const subset = comparisons.filter((c) => c.sto === stoName);\n    const totalGrs = subset.reduce((s, c) => s + (num(c.wgs_grs_week) || 0), 0);\n\n    return {\n      sto: stoName,\n      wgs_grs_week_total: totalGrs,\n      wgs_grs_wow_pct: weightedAvg(subset, 'wgs_grs_wow_pct'),\n      wgs_grs_yoy_pct: weightedAvg(subset, 'wgs_grs_yoy_pct'),\n      vertical_grs_wow_pct: weightedAvg(subset, 'vertical_grs_wow_pct'),\n      vertical_grs_yoy_pct: weightedAvg(subset, 'vertical_grs_yoy_pct'),\n      wow_gap_vs_vertical: weightedAvg(subset, 'wow_gap_vs_vertical'),\n      yoy_gap_vs_vertical: weightedAvg(subset, 'yoy_gap_vs_vertical'),\n      wgs_pen_pct: weightedAvg(subset, 'wgs_pen_pct'),\n      wgs_pen_yoy_bps: weightedAvg(subset, 'wgs_pen_yoy_bps'),\n      pen_target: PEN_TARGETS[stoName],\n      pen_gap_vs_target:\n        weightedAvg(subset, 'wgs_pen_pct') !== null\n          ? weightedAvg(subset, 'wgs_pen_pct') - PEN_TARGETS[stoName]\n          : null,\n      is_pen_below_target:\n        weightedAvg(subset, 'wgs_pen_pct') !== null &&\n        weightedAvg(subset, 'wgs_pen_pct') - PEN_TARGETS[stoName] < -0.02,\n      top_performers: subset.filter((c) => c.is_top_performer).map((c) => c.sumkc),\n      offenders: subset.filter((c) => c.is_offender).map((c) => c.sumkc),\n    };\n  });\n}\n\nfunction buildSupplierAnalysis(supplierRows) {\n  const suppliers = supplierRows\n    .filter((r) => r.segment_type === 'supplier' && r.channel === 'WGS_APS')\n    .map((r) => {\n      const grsYoy = num(r.grs_yoy_pct);\n      const grsWow = num(r.grs_wow_pct);\n      const vertYoy = num(r.vertical_grs_yoy_pct);\n      const yoyGap = grsYoy !== null && vertYoy !== null ? grsYoy - vertYoy : null;\n      const drivers = diagnoseDrivers(r, { vertical_yoy: vertYoy });\n\n      return {\n        name: r.entity_name,\n        sto: r.sto,\n        tier: r.tier,\n        srm: r.srm,\n        supplier_id: r.supplier_id,\n        grs_week: r.grs_week,\n        grs_wow_pct: grsWow,\n        grs_yoy_pct: grsYoy,\n        wsc_week: r.wsc_week,\n        wsc_wow_pct: num(r.wsc_wow_pct),\n        wsc_yoy_pct: num(r.wsc_yoy_pct),\n        vertical_grs_yoy_pct: vertYoy,\n        yoy_gap_vs_vertical: yoyGap,\n        visits_yoy_pct: num(r.visits_yoy_pct),\n        cvr_yoy_bps: num(r.cvr_yoy_bps),\n        cg_pen_pct: num(r.cg_pen_pct),\n        availability_bps: num(r.availability_bps),\n        branded_comp_bps: num(r.branded_comp_bps),\n        promo_depth_bps: num(r.promo_depth_bps),\n        ads_pct_wsc: num(r.ads_pct_wsc),\n        pbsi_pct_grs: num(r.pbsi_pct_grs),\n        drivers,\n        change_narrative: explainChange(r, r.entity_name),\n        is_top: yoyGap !== null && yoyGap > 0.1,\n        is_offender: (yoyGap !== null && yoyGap < -0.05) || (grsYoy !== null && grsYoy < 0),\n      };\n    });\n\n  const topSuppliers = suppliers\n    .filter((s) => s.is_top)\n    .sort((a, b) => (b.yoy_gap_vs_vertical || 0) - (a.yoy_gap_vs_vertical || 0))\n    .slice(0, 5);\n\n  const offenderSuppliers = suppliers\n    .filter((s) => s.is_offender)\n    .sort((a, b) => (a.yoy_gap_vs_vertical || 0) - (b.yoy_gap_vs_vertical || 0))\n    .slice(0, 5);\n\n  return { suppliers, top_suppliers: topSuppliers, offender_suppliers: offenderSuppliers };\n}\n\nfunction buildWatchlist(watchlistRows) {\n  return watchlistRows.map((r) => ({\n    sto: r.sto,\n    watch_type: r.watch_type,\n    entity_name: r.entity_name,\n    supplier_id: r.supplier_id,\n    srm: r.srm,\n    detail: r.detail,\n    l30d_grs_at_risk: num(r.l30d_grs_at_risk),\n    category:\n      r.watch_type === 'pbsi_violation'\n        ? 'PBSI / policy'\n        : r.watch_type === 'promo_wsi_gap'\n          ? 'Promotion depth'\n          : r.watch_type === 'pen_below_target'\n            ? 'Penetration'\n            : 'Other',\n  }));\n}\n\nfunction analyzeWeeklyRows(rows) {\n  const sumkcRows = rows.filter((r) => r.segment_type === 'sumkc');\n  const supplierRows = rows.filter((r) => r.segment_type === 'supplier');\n  const watchlistRows = rows.filter((r) => r.watch_type || r.segment_type === 'watchlist');\n\n  const comparisons = buildSumkcComparisons(sumkcRows);\n  const sto_rollups = buildStoRollups(comparisons);\n  const supplier_analysis = buildSupplierAnalysis(supplierRows);\n  const watchlist = buildWatchlist(watchlistRows);\n\n  const portfolio = {\n    reporting_week: rows[0] && rows[0].reporting_week,\n    wgs_grs_week_total: sto_rollups.reduce((s, r) => s + (r.wgs_grs_week_total || 0), 0),\n    wgs_grs_wow_pct: weightedAvg(\n      comparisons.map((c) => Object.assign({}, c, { grs_week: c.wgs_grs_week })),\n      'wgs_grs_wow_pct'\n    ),\n    wgs_grs_yoy_pct: weightedAvg(\n      comparisons.map((c) => Object.assign({}, c, { grs_week: c.wgs_grs_week })),\n      'wgs_grs_yoy_pct'\n    ),\n    yoy_gap_vs_vertical: weightedAvg(comparisons, 'yoy_gap_vs_vertical'),\n    top_performers: comparisons.filter((c) => c.is_top_performer).slice(0, 5),\n    offenders: comparisons.filter((c) => c.is_offender).slice(0, 5),\n    sto_rollups,\n  };\n\n  return {\n    portfolio,\n    comparisons,\n    sto_rollups,\n    supplier_analysis,\n    watchlist,\n    meta: { validated_sumkc_count: comparisons.length },\n  };\n}\n\nfunction gapColor(n) {\n  return (n || 0) >= 0 ? '#0a7' : '#c33';\n}\n\nfunction sectionTitle(text) {\n  return `<h3 style=\"margin-top:28px;border-bottom:1px solid #ddd;padding-bottom:6px;color:#7B2D8E;\">${text}</h3>`;\n}\n\nfunction tableStart(headers) {\n  let h = `<table border=\"1\" cellpadding=\"6\" cellspacing=\"0\" style=\"border-collapse:collapse;width:100%;font-size:12px;margin-bottom:12px;\">`;\n  h += `<tr style=\"background:#f3f3f3;\">${headers.map((x) => `<th>${x}</th>`).join('')}</tr>`;\n  return h;\n}\n\nfunction buildHtmlEmail(data) {\n  const { portfolio, comparisons, sto_rollups: stoRollups, supplier_analysis, watchlist } = data;\n  const week = (portfolio && portfolio.reporting_week) || 'Latest week';\n\n  let html = `<!DOCTYPE html><html><head><meta charset=\"utf-8\"><title>WGS APS DSR Weekly</title></head><body>`;\n  html += `<div style=\"font-family:Arial,sans-serif;max-width:900px;margin:24px auto;color:#222;line-height:1.45;\">`;\n  html += `<h2 style=\"border-bottom:3px solid #7B2D8E;padding-bottom:8px;\">WGS APS DSR Weekly Performance</h2>`;\n  html += `<p style=\"color:#555;\">Week starting <strong>${week}</strong> (wo) · Lens: <strong>WGS/APS vs Vertical STO (F&amp;D)</strong></p>`;\n\n  // Executive summary\n  html += sectionTitle('1. Executive summary — Portfolio');\n  html += `<p>Portfolio GRS <strong>${fmtMoney(portfolio.wgs_grs_week_total)}</strong> · `;\n  html += `WGS WoW <strong>${fmtPct(portfolio.wgs_grs_wow_pct)}</strong> · `;\n  html += `WGS YoY <strong>${fmtPct(portfolio.wgs_grs_yoy_pct)}</strong> · `;\n  html += `Avg gap vs vertical <strong style=\"color:${gapColor(portfolio.yoy_gap_vs_vertical)}\">${fmtPp(portfolio.yoy_gap_vs_vertical)}</strong></p>`;\n\n  // STO growth + penetration\n  html += sectionTitle('2. STO rollup — WGS vs Vertical growth &amp; penetration');\n  html += tableStart([\n    'STO',\n    'WGS GRS',\n    'WGS WoW',\n    'WGS YoY',\n    'Vert WoW',\n    'Vert YoY',\n    'YoY gap',\n    'WGS Pen',\n    'Pen YoY',\n    'Pen target',\n    'Pen gap',\n  ]);\n  for (const s of stoRollups) {\n    html += `<tr>\n      <td><strong>${s.sto}</strong></td>\n      <td>${fmtMoney(s.wgs_grs_week_total)}</td>\n      <td>${fmtPct(s.wgs_grs_wow_pct)}</td>\n      <td>${fmtPct(s.wgs_grs_yoy_pct)}</td>\n      <td>${fmtPct(s.vertical_grs_wow_pct)}</td>\n      <td>${fmtPct(s.vertical_grs_yoy_pct)}</td>\n      <td style=\"color:${gapColor(s.yoy_gap_vs_vertical)}\"><strong>${fmtPp(s.yoy_gap_vs_vertical)}</strong></td>\n      <td>${fmtPct(s.wgs_pen_pct)}</td>\n      <td>${fmtBps(s.wgs_pen_yoy_bps)}</td>\n      <td>${fmtPct(s.pen_target)}</td>\n      <td style=\"color:${gapColor(s.pen_gap_vs_target)}\">${fmtPp(s.pen_gap_vs_target)}</td>\n    </tr>`;\n  }\n  html += `</table>`;\n\n  // SuMkC comprehensive\n  html += sectionTitle('3. SuMkC — growth, penetration &amp; key metrics');\n  html += tableStart([\n    'STO',\n    'SuMkC',\n    'GRS WoW',\n    'GRS YoY',\n    'Vert YoY',\n    'Gap',\n    'Visits YoY',\n    'CVR bps',\n    'Pen %',\n    'Pen Δ bps',\n    'Pricing',\n    'Avail',\n    'Promo',\n    'Ads',\n  ]);\n  for (const c of comparisons) {\n    const flag = c.is_top_performer ? ' ★' : c.is_offender ? ' ⚠' : '';\n    html += `<tr>\n      <td>${c.sto}</td>\n      <td>${c.sumkc}${flag}</td>\n      <td>${fmtPct(c.wgs_grs_wow_pct)}</td>\n      <td>${fmtPct(c.wgs_grs_yoy_pct)}</td>\n      <td>${fmtPct(c.vertical_grs_yoy_pct)}</td>\n      <td style=\"color:${gapColor(c.yoy_gap_vs_vertical)}\">${fmtPp(c.yoy_gap_vs_vertical)}</td>\n      <td>${fmtPct(c.visits_yoy_pct)}</td>\n      <td>${fmtBps(c.cvr_yoy_bps)}</td>\n      <td>${fmtPct(c.wgs_pen_pct)}</td>\n      <td>${fmtBps(c.wgs_pen_yoy_bps)}</td>\n      <td>${fmtBps(c.branded_comp_bps)}</td>\n      <td>${fmtBps(c.availability_bps)}</td>\n      <td>${fmtBps(c.promo_depth_bps)}</td>\n      <td>${c.ads_pct_wsc != null ? fmtPct(c.ads_pct_wsc) : '—'}</td>\n    </tr>`;\n  }\n  html += `</table>`;\n\n  // Top performers with drivers\n  html += sectionTitle('4. Top performers — vs vertical &amp; drivers');\n  if (portfolio.top_performers.length === 0) {\n    html += `<p><em>None flagged this week.</em></p>`;\n  } else {\n    html += `<ul>`;\n    for (const c of portfolio.top_performers) {\n      html += `<li><strong>${c.sumkc}</strong> — GRS YoY ${fmtPct(c.wgs_grs_yoy_pct)} vs vertical ${fmtPct(c.vertical_grs_yoy_pct)} (${fmtPp(c.yoy_gap_vs_vertical)}); `;\n      html += `WoW ${fmtPct(c.wgs_grs_wow_pct)}; pen ${fmtPct(c.wgs_pen_pct)} (${fmtBps(c.wgs_pen_yoy_bps)} YoY). `;\n      html += c.drivers.length\n        ? `Drivers: ${c.drivers.map((d) => `${d.area} (${d.signal})`).join('; ')}.`\n        : `Traffic ${fmtPct(c.visits_yoy_pct)}, CVR ${fmtBps(c.cvr_yoy_bps)}.`;\n      html += `</li>`;\n    }\n    html += `</ul>`;\n  }\n\n  // Offenders with diagnosis\n  html += sectionTitle('5. Top offenders — underperformance &amp; root-cause metrics');\n  if (portfolio.offenders.length === 0) {\n    html += `<p><em>None flagged this week.</em></p>`;\n  } else {\n    html += `<ul>`;\n    for (const c of portfolio.offenders) {\n      html += `<li><strong>${c.sumkc}</strong> — gap ${fmtPp(c.yoy_gap_vs_vertical)} vs vertical; GRS YoY ${fmtPct(c.wgs_grs_yoy_pct)}, WoW ${fmtPct(c.wgs_grs_wow_pct)}.`;\n      if (c.drivers.length) {\n        html += `<ul>`;\n        for (const d of c.drivers) {\n          html += `<li><strong>${d.area}</strong> [${d.severity}]: ${d.detail} (${d.signal})</li>`;\n        }\n        html += `</ul>`;\n      } else {\n        html += ` No single driver flagged — review traffic ${fmtPct(c.visits_yoy_pct)} and CVR ${fmtBps(c.cvr_yoy_bps)}.`;\n      }\n      html += `</li>`;\n    }\n    html += `</ul>`;\n  }\n\n  // Suppliers\n  html += sectionTitle('6. Key suppliers — WoW / YoY &amp; change drivers');\n  const { top_suppliers, offender_suppliers } = supplier_analysis;\n  if (!supplier_analysis.suppliers.length) {\n    html += `<p><em>No supplier data in staging sheet (add Supplier_Weekly tab).</em></p>`;\n  } else {\n    html += `<p><strong>Top contributors</strong></p>`;\n    html += tableStart(['Supplier', 'STO', 'Tier', 'SRM', 'GRS WoW', 'GRS YoY', 'vs Vert', 'Change narrative']);\n    for (const s of top_suppliers) {\n      html += `<tr>\n        <td>${s.name}</td><td>${s.sto}</td><td>${s.tier || '—'}</td><td>${s.srm || '—'}</td>\n        <td>${fmtPct(s.grs_wow_pct)}</td><td>${fmtPct(s.grs_yoy_pct)}</td>\n        <td style=\"color:${gapColor(s.yoy_gap_vs_vertical)}\">${fmtPp(s.yoy_gap_vs_vertical)}</td>\n        <td style=\"font-size:11px;\">${s.change_narrative}</td>\n      </tr>`;\n    }\n    html += `</table>`;\n\n    html += `<p><strong>Supplier offenders</strong></p>`;\n    html += tableStart([\n      'Supplier',\n      'STO',\n      'GRS YoY',\n      'WoW',\n      'Pricing',\n      'Avail',\n      'Promo',\n      'Ads',\n      'PBSI',\n      'Diagnosis',\n    ]);\n    for (const s of offender_suppliers) {\n      html += `<tr>\n        <td>${s.name}</td><td>${s.sto}</td>\n        <td>${fmtPct(s.grs_yoy_pct)}</td><td>${fmtPct(s.grs_wow_pct)}</td>\n        <td>${fmtBps(s.branded_comp_bps)}</td><td>${fmtBps(s.availability_bps)}</td>\n        <td>${fmtBps(s.promo_depth_bps)}</td><td>${s.ads_pct_wsc != null ? fmtPct(s.ads_pct_wsc) : '—'}</td>\n        <td>${s.pbsi_pct_grs != null ? fmtPct(s.pbsi_pct_grs) : '—'}</td>\n        <td style=\"font-size:11px;\">${s.drivers.map((d) => d.area).join(', ') || '—'}</td>\n      </tr>`;\n    }\n    html += `</table>`;\n  }\n\n  // Watchlist\n  html += sectionTitle('7. Watchlist — policy, promo &amp; pen gaps');\n  if (!watchlist.length) {\n    html += `<p><em>No watchlist items (add Watchlist_Weekly tab).</em></p>`;\n  } else {\n    html += tableStart(['STO', 'Category', 'Entity', 'SRM', 'Detail', 'GRS at risk']);\n    for (const w of watchlist) {\n      html += `<tr>\n        <td>${w.sto}</td><td>${w.category}</td><td>${w.entity_name}</td>\n        <td>${w.srm || '—'}</td><td>${w.detail}</td>\n        <td>${w.l30d_grs_at_risk ? fmtMoney(w.l30d_grs_at_risk) : '—'}</td>\n      </tr>`;\n    }\n    html += `</table>`;\n  }\n\n  html += `<p style=\"font-size:11px;color:#888;margin-top:32px;border-top:1px solid #eee;padding-top:12px;\">\n    Sent via n8n · WGS APS Decor · Softhome · Rugs · Weekly staging sheet (not monthly GRS tracker)<br>\n    Driver thresholds: pricing &lt;−50 bps · availability &lt;−80 bps · promo/WSI gap · ads &lt;8% WSC · PBSI &gt;15% GRS\n  </p></div></body></html>`;\n\n  const subject = `WGS APS DSR Weekly | ${week} | WGS YoY ${fmtPct(portfolio.wgs_grs_yoy_pct)} vs vertical ${fmtPp(portfolio.yoy_gap_vs_vertical)}`;\n\n  return { subject, html };\n}\n\n\n// --- n8n entry: Build HTML Email ---\nconst data = $input.first().json;\nconst { subject, html } = buildHtmlEmail(data);\nreturn [{ json: Object.assign({ subject, html }, data) }];\n"
      },
      "id": "build-html",
      "name": "Build HTML Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        340
      ]
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL@wayfair.com",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "id": "gmail-send",
      "name": "Gmail Send",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1240,
        340
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "CONFIGURE_IN_N8N",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## WGS APS DSR Weekly Check-in\n\n**Before first run:**\n1. Replace `PASTE_YOUR_STAGING_SHEET_ID` on all 3 Google Sheets nodes\n2. Set Gmail **To** address\n3. Connect **Google Sheets account** + **Gmail** credentials on each node\n4. Test with **Manual Trigger** → then enable **Monday 8am ET**\n\n**Sheet tabs required:** SuMkC_Weekly (18 rows), Supplier_Weekly, Watchlist_Weekly",
        "height": 220,
        "width": 380
      },
      "id": "sticky-note",
      "name": "Setup instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    }
  ],
  "connections": {
    "Manual Trigger (testing)": {
      "main": [
        [
          {
            "node": "Read SuMkC_Weekly",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Supplier_Weekly",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Watchlist_Weekly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday 8am ET": {
      "main": [
        [
          {
            "node": "Read SuMkC_Weekly",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Supplier_Weekly",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Watchlist_Weekly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read SuMkC_Weekly": {
      "main": [
        [
          {
            "node": "Merge All Tabs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Supplier_Weekly": {
      "main": [
        [
          {
            "node": "Merge All Tabs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Read Watchlist_Weekly": {
      "main": [
        [
          {
            "node": "Merge All Tabs",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge All Tabs": {
      "main": [
        [
          {
            "node": "Analyze Weekly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Weekly": {
      "main": [
        [
          {
            "node": "Build HTML Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build HTML Email": {
      "main": [
        [
          {
            "node": "Gmail Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}